.left-well{
	background-color: yellow;
	min-width: 500px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	text-align: center;
}

.right-well{
	background-color: blue;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	min-width: 500px;
	text-align: center;

}

.bottom-well{
	background-color: green;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	min-width: 400px;
	text-align: center;

}

.left-well p, .right-well p {
	margin-bottom: 60px;
}

.container{
	display: flex;
	justify-content: center;
	justify-content: space-around;
}

h1{
	text-align: center;
}

.order, .menu{
	display: flex;
	justify-content: center;
	align-content: center;

}

#offOrder, #offMenu{
	margin-top: -10px;
	margin-left: 20px;
}

.banner{
	width: 100%;
	height: 300px;
	margin-bottom: 50px;
	
}
.banner img{
	width: 100%;
	height: 300px;
	
}

body{
	background-color: #FFD432;
}
